/* Geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: Helvetica;
    color: #323232;
    border: none;
}

body {

    /*
    background: url(../img/background2.jpeg) no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    */

    background: url(../img/background2.jpeg) center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

textarea:focus, input:focus {   /* Revove margem ao seleciona uma caixa input */
    outline: none;
}

a, label {
    font-size: .8rem; /* 16 * .8 = X */
}

a:hover {       /* Cor dos links ao passar o mause */
    color: #08558b;
}

/* container login */

#container {    /*criado div para o card de login */
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10vh;   /*define margem superior baseado na tela */
}

#login-container {
    background-color: #fceef6c2;
    width: 350px;
    height: 528px;
    /*
    margin-left: auto;
    margin-right: auto;
    */
    padding: 20px 30px;
    /*
    margin-top: 10vh;
    */
    border-radius: 12px;    /* Suavisa os cantos do card */
    text-align: center;
    box-shadow: 3px 3px 1px 0px 00000070;   /* Cria uma sobra no card */
}

/* formulario */

form {
    margin-top: 30px;
    margin-bottom: 30px;
}

label, input {
    display: block;
    width: 100%;
    text-align: left;
}

label {
    font-weight: bold;
}

input {
    background-color: #ffffff20;    /* Cor de fundo do iput e opacidade */
    border-radius: 5px;
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
}

input:focus {
    border-bottom: 2px solid #08558b;
}

#forgot-pass {
    text-align: right;
    display: block;   
}

/* Botao de login */

input[type="submit"] {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    color: #ffffff;
    background-color: #2d85f8;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #ff5100ea;
    transition: .5s;
}

/* redes sociais */ 

#social-container, #social-container p {
    margin-bottom: 20px;   
}

#icones-redes-sociais img{  
    width: 3rem; 
}

#icones-redes-sociais {
    display: flex;
    justify-content: center;
    gap: 8%;

}
/* registrar */

#register-container p {
    margin-bottom: 10px;
}
